<!DOCTYPE html>
<html>
<head>
    <title>SmashUy</title>
</head>
<body>

<h1>SmashUy 🎾</h1>

<nav>
    <a href="/">Inicio</a>
    <a href="/crear-producto/">Crear Producto</a>
    <a href="/crear-categoria/">Crear Categoría</a>
    <a href="/crear-post/">Crear Post</a>
    <a href="/buscar/">Buscar</a>
    <a href="/productos/">Productos</a>
    <a href="/posts/">Blog</a>
</nav>

<hr>

{% block contenido %}
{% endblock %}

</body>
</html>

<style>
body {
    background-color: #FFFFFF;
    color: #1F1F1F;
    font-family: Arial;
}

nav a {
    margin: 10px;
    color: #A8DADC;
    text-decoration: none;
}

button {
    background-color: #FFD6A5;
    border: none;
    padding: 8px;
}
</style>